@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
.featureImage {
  animation: fadeIn 5s infinite;
}

@layer components {
  .cardItemsHover {
    @apply cursor-pointer hover:opacity-50;
  }
}
