@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
.featureImage {
  animation: fadeIn 5s infinite;
}

@layer components {
  .cardItemsHover {
    @apply cursor-pointer hover:opacity-50;
  }

  .authContainer {
    @apply mx-auto flex min-h-screen max-w-sm flex-col items-center justify-around px-5 font-sans mdl:max-w-4xl;
  }

  .authInput {
    @apply h-9 w-[80%] rounded border-[1px]  bg-[#FAFAFA] pt-[9px] pl-[8px] pb-[7px] text-sm  outline-none focus:border-zinc-400;
  }

  .authBtn {
    @apply w-[80%] rounded-lg bg-[#0095F6] py-[7px] px-[16px] text-[14px] font-semibold text-white;
  }

  .asideLink {
    @apply cursor-pointer text-[12px] text-[#8E8E8E];
  }

  .menuBtn {
    @apply flex cursor-pointer justify-between border-b-[1px] border-instGrayish border-opacity-50 px-4 py-2.5 active:opacity-50 dark:text-white;
  }
}
