@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
.featureImage {
  animation: fadeIn 5s infinite;
}

@layer components {
  .cardItemsHover {
    @apply cursor-pointer hover:opacity-50;
  }

  .authContainer {
    @apply flex h-screen w-full px-5 py-4 font-sans;
  }

  .authInput {
    @apply w-[95%] rounded border-[1px] bg-[#FAFAFA] p-3  text-xl outline-none  focus:border-zinc-400 sm:w-[80%];
  }

  .authBtn {
    @apply w-[95%] rounded-lg bg-[#0095F6] py-[7px] px-[16px] text-lg font-semibold text-white sm:w-[80%];
  }

  .asideLink {
    @apply cursor-pointer text-[12px] text-[#8E8E8E];
  }

  .menuBtn {
    @apply flex cursor-pointer justify-between border-b-[1px] border-instGrayish border-opacity-50 px-4 py-2.5 active:opacity-50;
  }
}
